<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../css/app.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon"
          type="image/png"
          href="/static/images/favicon.png" />
    <title>Add New Person</title>

</head>
<body>

<div class="container">

    <div class="row">
        <div class="col s12">
            <h3 class="center">New Person</h3>
        </div>
    </div>

        <form method="POST" action="../api/person" accept-charset="UTF-8">
            <input type="hidden" name="SSL" value="false"/>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="per_firstname" name="firstName" type="text" class="validate">
                    <label for="per_firstname">First Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">verified_user</i>
                    <input id="per_lastname" name="lastName" type="tel" class="validate">
                    <label for="per_lastname">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="per_email" name="email" type="email" class="validate">
                    <label for="per_email">Email</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>

        </form>
</div>



<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script type="text/javascript" src="../js/scripts.js"></script>
<!--<script type="text/javascript" src="../js/TablePopulator.js"></script>-->
</body>
</html>